.navLink {
    margin: 0 1rem;
    text-decoration: none;
    color: #F5F5F5;
    font-weight: bold;
    transition: color 0.3s ease;
}

.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 12px 0px;
    background: rgba(0, 0, 0, 0.8);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.menuButton {
    display: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.logo {
    border-radius: 12px;
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {

    .navLink {
        display: none;
    }

    .menuButton {
        display: block;
    }

    .menuOpen .navLink {
        display: block;
        margin: 1rem 0;
    }

    .navContainer {
        position: absolute;
        top: 53px;
        right: 0;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        border-top: 1px solid white;
    }

    .content {
        width: 80%;
    }

    .logo {
        height: 35px;
        width:35px;
    }

    .menuIcon {
        font-size: 22px;
    }

    .stickyHeader {
        padding: 4px 0px;
    }
}