.contactUsSection {
    position: relative;
    background: #000;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

.title {
    font-size: 1.5rem;
    color: #EF4444;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #EF4444;
}

.title::after {
    content: '';
    display: block;
    width: 35vh;
    height: 2px;
    background: linear-gradient(to right, #EF4444, transparent);
    margin: 10px auto 0;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    max-width: 700px;
    margin: 0 auto;
    background-color: #333;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formGroup label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
    text-align: left;
}

.input,
.textarea {
    background-color: #555;
    border: 1px solid #444;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus {
    border-color: #EF4444;
    outline: none;
}

.textarea {
    min-height: 150px;
    resize: vertical;
}

.submitButton {
    background-color: #EF4444;
    color: white;
    padding: 15px 25px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 600;
}

.submitButton:hover {
    background-color: #EF4444;
    transform: scale(1.05);
    /* Slight scaling effect on hover */
}

.submitButton:active {
    background-color: #EF4444;
}

.formStatus {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #00ff00;
    font-weight: 600;
}

@media (max-width: 768px) {
    .container {
        max-width: 80%;
    }

    .title {
        font-size: 1.2rem;
    }

    .form {
        padding: 20px;
    }

    .input,
    .textarea {
        font-size: 0.95rem;
    }

    .submitButton {
        font-size: 1rem;
        padding: 12px 20px;
    }

    .rocketShape,
    .msgShape {
        display: none;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 90%;
    }

    .title {
        font-size: 1rem;
    }

    .form {
        padding: 15px;
    }

    .input,
    .textarea {
        font-size: 0.9rem;
    }

    .submitButton {
        font-size: 0.95rem;
        padding: 10px 15px;
    }

    .formStatus {
        font-size: 1rem;
    }

    .rocketShape,
    .msgShape {
        display: none;
    }
}

.rocketShape {
    position: absolute;
    top: 15%;
    left: 1%;
    z-index: 7;
    animation: bounce 1.8s infinite;
}

.msgShape {
    position: absolute;
    bottom: 15%;
    right: 8%;
    z-index: 7;
    animation: bounce 1.8s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}